.tasks-main-container {
    width: 19rem;
    background: var(--tasks-background, #EDF3F3) ;
    margin-right: 2rem;
    padding: 0.8rem 0;
    height: fit-content;
    flex: 1;
}

.tasks-section-container {
    width: 17rem;
    height: 6rem;
    background: #22272B;
    margin: 0 0.8rem 0.8rem;
    cursor: pointer;
    color: var(--input-text);
    border-radius: 5px;
}

.tasks-section-summary {
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0.5rem;
}

.task-section-bottom {
    display: flex;
    height: 2.2rem;
    justify-content: space-between;
    padding: 0 1rem 0 0.5rem;
}

.task-section-bottom-time-conatiner {
    display: flex;
    align-items: center;
}

.task-section-bottom-time {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.task-section-bottom-icon {
    height: 69%;
    margin-left: 0.3rem;
}

.task-section-bottom-priority {

}