.login-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  background: var(--main-background, #ffffff);
}

.login-main-container {
  background: #ffffff;
  width: 25%;
  padding: 2rem;
  border-radius: 10px;
  z-index: 999;
}

.login-logo-image {
  width: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.6rem;

  img {
    width: 100%;
  }
}

.login-logo-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.login-logo-name {
  font-size: 2.313rem;
  font-weight: 600;
  background: radial-gradient(
    11387.38% 92.04% at 8.05% 96%,
    #3095f2 0%,
    rgba(140, 154, 229, 0.72) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-signin-container {
  h2 {
    font-weight: 700;
    line-height: 2;
    font-size: 2rem;
  }
}

.login-input-container {
  display: flex;
  flex-direction: column;
  font-size: 1.313rem;
  font-weight: 500;

  label {
    padding-bottom: 0.4rem;
  }
}

.login-input {
  border-radius: 5px;
  outline: none;
  border: 2px solid #0d0d0d5c;
  color: #0e0e0e70;
}

.login-button {
  background: #579dff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  font-size: 19px;
  color: white;
  font-weight: 600;
  border-radius: 9px;
  margin-top: 1rem;
  cursor: pointer;
}

.sign-up {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 1.2rem;

  span {
    text-decoration: underline;
    color: #579dff;
    margin-left: 0.4rem;
    cursor: pointer;
    font-weight: 600;
  }
}

.sign-back-in {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2rem;

  span {
    margin-bottom: 3px;
    font-size: 1.9rem;
    text-decoration: none;
  }
}

.login-bg-image {
  position: absolute;
  left: 8rem;
  width: 92%;
  opacity: 0.8;

  img {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .login-main-container {
    width: 23rem;
  }

  .login-bg-image {
    position: absolute;
    left: -34rem;
    width: 101rem;
    opacity: 0.8;
    height: 100vh;
    top: -4rem;
  }

  .sign-up {
    flex-direction: row;

    span {
      margin-left: 0rem;
    }
  }
}
