:root {
  --main-background: #1D2125;
  --sidebar-background: #1D2125;
  --tasks-background: #161A1D;
  --create-task-button: #579DFF;
  --task-popup-input: #22272B;
  --font-heading: 'Segoe UI','Roboto','Oxygen','Ubuntu','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  --heading-text-color: #B6C2CF;
  --heading-sub-text: #9FADBC;
  --input-text: #B6C2CF;
}

body {
    margin: 0;
    font-family: "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

hr {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
}

.home-main-container {
  background: var(--main-background, #ffffff);
}

.home-main-sub-container {
  display: flex;
  height: calc(100vh - 4.1rem);
  overflow: auto
}

.home-main-tasks-container {
  padding: 1rem 2rem;
  width: 100%;
}

.home-main-add-task-button{
    box-sizing: content-box;
    width: 4rem;
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    margin: 0px 2px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: var(--create-task-button, #0052CC);
    border: none;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-family-poppins, "Poppins");
    font-weight: 500;
    line-height: 1.5;
}

.home-main-tasks-sub-conatiner {
  display: flex;
  margin-top: 2rem;
}


.home-main-tasks-heading {
  color: var(--heading-text-color);
  padding: 0 0 0.8rem 0.8rem;
  font-weight: 500;
}

.home-main-tasks-task-container{
  display: flex;
  flex-direction: column;
}

.home-main-no-tasks-sub-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  color: #828284;
  margin-top: 5rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  opacity: 1;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  outline: 0px solid #e2e3e8;
  border-radius: 10px;
}


@media (max-width: 960px) {
  .main-sidebar-show-container {
      display: none;
  }
}